<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <form (submit)="handleSubmit($event)" class="p-4 rounded shadow w-100" style="max-width: 400px;">
    <h2 class="text-center mb-4">Réinitialisation du mot de passe</h2>

    <div class="mb-3">
      <label for="newPassword" class="form-label">Nouveau mot de passe</label>
      <div class="input-group">
        <input
          type="{{ showPassword['newPassword'] ? 'text' : 'password' }}"
          class="form-control"
          id="newPassword"
          name="newPassword"
          [(ngModel)]="passwords['newPassword']"
          required
        />
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="togglePasswordVisibility('newPassword')"
        >
          <fa-icon [icon]="showPassword['newPassword'] ? faEyeSlash : faEye"></fa-icon>
        </button>
      </div>
    </div>

    <div class="mb-4">
      <label for="confirmPassword" class="form-label">Confirmer le mot de passe</label>
      <div class="input-group">
        <input
          type="{{ showPassword['confirmPassword'] ? 'text' : 'password' }}"
          class="form-control"
          id="confirmPassword"
          name="confirmPassword"
          [(ngModel)]="passwords['confirmPassword']"
          required
        />
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="togglePasswordVisibility('confirmPassword')"
        >
          <fa-icon [icon]="showPassword['confirmPassword'] ? faEyeSlash : faEye"></fa-icon>
        </button>
      </div>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger text-center mb-4">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="alert alert-success text-center mb-4">{{ successMessage }}</div>

    <button type="submit" class="btn btn-primary w-100 mb-3">
      Réinitialiser le mot de passe
    </button>

    <div class="text-center">
      <button
        type="button"
        class="btn btn-reset text-decoration-none"
        (click)="router.navigate(['/login'])"
      >
        Retour à la connexion
      </button>
    </div>
  </form>
</div>